@import url(https://db.onlinewebfonts.com/c/cf3fb387331afda8f5d7f9c8dea3cd13?family=Jaturat);
@import url(https://db.onlinewebfonts.com/c/b9bdac589c0d3aac828fd3a15108b61a?family=Clear+Sans);

/* Global CSS Start */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Jaturat";
    padding: 0;
    margin: 0;
    word-break: break-word;
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Jaturat";
    margin: 0;
    line-height: 1;
}



p {
    line-height: 1.3;
    padding: 0;
    margin: 0;
    font-family: "Clear Sans";
    color: #fff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    line-height: 1.2;
    margin-bottom: 3px;
}

a {
    display: inline-block;
    text-decoration: none;
    font-family: "Jaturat";
}

button,
input[type=text],
input[type=submit],
input[type=password],
textarea,
input[type=email] {
    font-family: "Jaturat";
}

input {
    font-family: "Jaturat";
}

img {
    max-width: 100%;
    object-fit: cover;
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}


.py-7 {
    padding: 70px 0;
}

.pt-7 {
    padding-top: 70px;
}

.pb-7 {
    padding-bottom: 70px;
}

.py-10 {
    padding: 100px 0;
}

.pb-10 {
    padding-bottom: 100px;
}

.pt-10 {
    padding-top: 100px;
}

.inline-flex {
    display: inline-flex;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.m-0-auto {
    margin: 0 auto
}

.bg-center {
    background-position: center;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-no-repeat {
    background-repeat: no-repeat;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.align-end {
    align-items: flex-end;
}

.bg-0-0 {
    background-position: 0% 0%;
}

.pt-80 {
    padding-top: 80px;
}

/* Global CSS End */

/* Section Heading CSS Start */
.section-heading {
    color: #fff;
    font-size: 40px;
}



/* Section Heading CSS End */

/*Header CSS Start */
.site-logo a {
    text-align: center;
    height: 60px;
    width: 250px;
    vertical-align: middle;
    display: inline-block;
    background-image: url(../images/logo.svg);
}

.site-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
    border-radius: 0 0 10px 10px;
    background-color: #000;
}

.navbar-menu {
    display: flex;
    position: relative;
}


.navbar-menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 0;
}

.navbar-menu ul li a {
    padding: 10px 0 10px 10px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 1;
    position: relative;
    color: #fff;
    font-size: 17px;
}

.navbar-menu ul li a:hover {
    color: #fafb63;
}

.navbar-menu ul li a.active {
    color: #fafb63;
}

.navbar-menu ul li a.active::after {
    transform: scaleX(1);
    background: #fafb63;
    transform-origin: center;
}

.navbar-menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    border-radius: 5px;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #fafb63;
    transform-origin: center;
    transition: all 0.3s ease-out;
}

.navbar-menu ul li a:hover::after {
    transform: scaleX(0.9);
}

.close-btn {
    display: none;
    background-image: url("../images/close.png");
}

.menu-btn {
    display: none;
    color: #fafb63;
    width: 30px;
    text-align: right;
    cursor: pointer;
    margin: auto 0;
    font-size: 25px;
    z-index: 60;
    background-image: url("../images/menu.png");
    height: 30px;
}

.header-btns {
    padding: 10px !important;
    outline: none;
    border: none;
    display: inline-block;
    border-radius: 8px;
    background-color: #fafb63;
    color: #000 !important;
    margin-left: 10px;
    border: 1px solid transparent;
    transition: 0.4s all ease-in-out;
}

.header-btns:hover {
    background-color: #000;
    color: #fff !important;
    border-color: #fff;
}

.header-signup {
    margin-left: 40px;
}

.header-login {
    margin-left: 10px;
}

.home-banner-btn {
    color: #000;
    margin-top: 30px;
    background-color: #6bfff7;
    padding: 15px 40px;
    border-radius: 30px;
    width: auto;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid transparent;
    transition: 0.4s all ease-in-out;
}

.home-banner-btn:hover {
    background-color: #000;
    border-color: #6bfff7;
    color: #fff;
    box-shadow: #fff 0px 3px 8px;
    transform: translateY(-3px);
}

/* Header CSS End */


/* Banner Section CSS Start */
.banner {
    background-color: rgba(0, 0, 0, 0.5);
    padding-top: 80px;
}

.banner-right {
    background-image: url(../images/banner-image.png);
    height: 600px;
    border-radius: 20px;
}

.home-banner-text h2 {
    text-align: center;
    color: #fafb63;
    font-size: 40px;
    max-width: 520px;
    line-height: 1.3;
}

.home-banner-text {
    height: 100%;
    width: 100%;

}

/* Banner Section CSS End */

/* About Info CSS Start */
.home-info-wrap-pattern1 {
    height: 30px;
    width: 150px;
    background-image: url(../images/pattern1.png);
    margin-bottom: 30px;
    margin-left: 30px;
}

.home-info-wrap-second-img1 {
    background-image: url(../images/home-about-info-bg-lower.png);
    height: 540px;
    width: 450px;
    position: relative;
    background-position: center;
    background-size: 100% 100%;
    margin: 0 auto;
    padding: 50px;
}

.home-info-wrap-first-content p {
    font-size: 20px;
}

.home-info-wrap-second-img2 {
    background-image: url(../images/home-about-info-bg-upper.jpg);
    height: 370px;
    width: 370px;
    position: relative;
    z-index: 555;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
}

/* About Info CSS End */
.home-choices-cards-image {
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 0 auto;
}

.home-choices-cards-image1 {
    background-image: url("../images/choices-cards-image1.jpg");
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.home-choices-cards-image2 {
    background-image: url("../images/choices-cards-image2.png");
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.home-choices-cards-image3 {
    background-image: url("../images/choices-cards-image3.jpg");
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.home-choices-wrap h2 {
    color: #000;
    background: #fafb63;
    max-width: 390px;
    margin-bottom: 50px;
    padding: 15px 20px;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1.3;
    font-style: italic;
    letter-spacing: 1px;
}

.home-choices-heading-wrap {
    position: relative;
    display: inline-block;
}

.choice-text-hider {
    position: absolute;
    top: 47%;
    right: 0;
    background-color: #000;
    width: 120px;
    height: 42px;
}

.home-info-wrap-first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.home-choices-cards-info {
    margin: 25px auto 0 auto;
    position: relative;
}


.home-choices-cards-info h3 {
    font-size: 25px;
    font-style: italic;
    font-weight: 600;
    color: #fafb63;
    display: inline-block;
}

.home-choices-cards-info p {
    font-size: 17px;
    margin-top: 10px;
    max-width: 300px;
    margin: 10px auto 0 auto;
}

.home-choices-line {
    background-color: #fff;
    height: 5px;
    display: inline-block;
    width: 50px;
    margin-bottom: 10px;
    position: absolute;
    top: -20px;
    left: 75px;
}

/* lknfbnf */
.home-why-hockey-section {
    background-image: url("../images/home-why-hockey-bg.png");
    padding: 300px 0 100px 0;
    background-color: rgba(0 0 0/70%);
    background-blend-mode: multiply;

}

.home-why-hockey-pattern-inner {
    background-image: url(../images/pattern1-no-bg.png);
    height: 20px;
    width: 100px;
    display: inline-block;
    margin-left: auto;
    position: absolute;
    bottom: 0;
    right: 0;
}

.home-why-hockey-heading-wrap {
    position: relative;
    display: inline-block;
}

.why-hockey-text-hider {
    position: absolute;
    right: 0;
    width: 120px;
    background: transparent;
    height: 40px;
    top: 0;
}

.home-why-hockey-heading-wrap {
    position: relative;
    width: 100%;
    max-width: 425px;
    margin: 0 0 40px;
}

.home-why-hockey-heading {
   font-size: 36px;
    color: #000000;
    font-style: italic;
    font-weight: 600;
    background-color: #fafb63;
    letter-spacing: 1px;
    word-spacing: 0px;
    text-transform: uppercase;

}
.home-why-hockey-heading1{
    display: inline-block;
    padding: 15px 15px;
}
.home-why-hockey-heading2{
    display: block;
    padding: 15px 15px;
}

.home-why-hockey-cards {
    max-width: 80%;
    position: relative;
    min-height: 270px;
}

.home-why-hockey-cards h3 {
    font-size: 30px;
    color: #fafb63;
    margin-bottom: 20px;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    line-height: 1.2;
}

.home-why-hockey-cards p {
    font-size: 18px;
}

.our-users-heading {
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    max-width: 550px;
    margin: 0 auto;
    font-style: italic;
    line-height: 1.4;
}

#counter {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

#counter .item {
    width: 32%;
    padding: 35px 40px;
    text-align: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 38px -8px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 38px -8px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 38px -8px rgba(0, 0, 0, 0.34);
}

#counter .item .count,
.non-counter {
    color: #000;
    font-size: 40px;
}

#counter .item p {
    color: #fff;
    font-size: 18px;
    max-width: 300px;
    margin: 0 auto;
}

.item-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fafb63;
    padding: 10px;
    margin-bottom: 10px;
}

.item-wrapper span {
    display: inline-block;
    color: #000;
    font-size: 40px;
    vertical-align: middle;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
}

.item-image {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: auto;
}

.item-image-inner {
    width: 300px;
    height: 250px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.item-image-inner1 {
    background-image: url("../images/counter-image1.png");
}

.item-image-inner2 {
    background-image: url("../images/counter-image2.png");
}

.item-image-inner3 {
    background-image: url("../images/counter-image3.png");
}











/* Newsletter CSS Start */
.newsletter-section {
    position: relative;
    box-shadow: #fafb63 0px 5px 15px;
}

.newsletter-upper-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
    background-image: url("../images/newsletter-before-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.newsletter-lower-image {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 100px;
    background-image: url("../images/newsletter-after-image.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.newsletter-wrapper {
    text-align: center;
    padding: 30px 0;
    background-color: transparent;
    backdrop-filter: blur(2px);
    border-radius: 20px;
}

.newsletter-wrapper h3 {
    padding: 0 10px;
    font-size: 35px;
    max-width: 1000px;
    margin: 0px auto 20px auto;
    line-height: normal;
    font-weight: 700;
    color: #fafb63;
    letter-spacing: 1px;
}

.newsletter-input-wrapper {
    padding-top: 20px;
    margin: 0 auto;
}

.newsletter-input {
    width: 40%;
    display: inline-block;
    font-size: 16px;
    padding: 13px 25px;
    outline: none;
    border: 1px solid #fff;
    line-height: 20px;
    border-radius: 25px 0 0 25px;
    font-weight: 600;
    color: #383b4e;
}

.butn {
    display: inline-block;
    padding: 13px 25px;
    font-size: 16px;
    color: #000;
    outline: none;
    margin-left: 5px;
    cursor: pointer;
    font-weight: 600;
    border: 1px solid transparent;
    transition: 0.3s all ease-in-out;
    line-height: 20px;
    border-radius: 0 25px 25px 0;
    position: relative;
    background-color: #fafb63;
}

.butn:hover {
    box-shadow: #fff 0px 5px 10px;
}

/* Newsletter CSS End */


/* jkblkdmbkld */
.from-users-heading-wrap {
    padding: 15px;
    background: #6bfff7;
    max-width: 350px;
    margin: 0 auto;
    position: relative;
}

.from-user-hide1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 45px;
    background: #000;
}

.from-user-hide2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 45px;
    background: #000;
}

.our-user-heading {
    margin: 0 auto;
    font-size: 40px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 600;
    color: #000;
}

.our-user-heading1 {
    max-width: 330px;
}

.our-user-heading2 {
    max-width: 330px;
}

.from-user-card-wrap {
    margin-top: 40px;
}



/* lkfbkblmdf */
.from-our-user-cards {
    background-image: url(../images/our-user-cards-bg.png);
    margin: 0 auto;
    height: auto;
    padding: 15px;
    background-size: 100% 100%;
    height: 510px;
    background-repeat: no-repeat;
}

.from-our-user-card-top {
    padding: 20px;
}

.from-our-user-card-top p {
    color: #000;
    max-width: 250px;
    font-size: 18px;
}

.from-our-user-card-bottom {
    margin-top: 20px;
    padding: 0 30px;
}

.from-our-user-card-bottom p {
    color: #000;
    font-size: 20px;
    max-width: 130px;
    margin-left: auto;
}



/* Footer CSS Start */
.footer {
    box-shadow: #fff 0px 3px 20px;
}

.footer-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.footer-blocks {
    width: 30%;
    padding: 15px;
}

.footer-menus h3 {
    color: #fafb63;
    font-size: 30px;
    margin-bottom: 15px;
}

.footer-blocks ul li {
    margin-bottom: 10px;
}

.footer-blocks ul li a {
    color: #fff;
    font-size: 20px;
}

.footer-socials h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #fafb63;
}

.footer-socials p {
    font-size: 20px;
    margin-bottom: 15px;
}

.footer-disclaimer h3 {
    color: #fafb63;
    margin-bottom: 20px;
}

.social-tags-container {
    display: inline-flex;
    justify-content: space-between;
}

.social-icons {
    height: 50px;
    width: 50px;
    background-color: #fff;
    margin-right: 10px;
    padding: 5px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all ease-in-out;
}

.social-icons:hover {
    transform: translateY(-3px);
    box-shadow: #fafb63 0px 5px 15px 0px;
}

.social-ikons {
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.fb {
    background-image: url("../images/fb.png");
}

.insta {
    background-image: url("../images/insta.png");
}

.twitter {
    background-image: url("../images/twitter.png");
}

.footer-disclaimer p {
    font-size: 17px;
}

.footer-copyright-ssl-wrap {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #fafb63;
    padding: 30px 10px 0 10px;
    margin-top: 30px;
    justify-content: space-between;
}

.ssl-container {
    height: 50px;
    width: 300px;
}

.ssl-logo {
    background-image: url("../images/ssl-logo.png");
}



/* Footer CSS Start */

/* AOS Overflow CSS Start */
.selected-hotels-section {
    overflow: hidden;
}

/* AOS Overflow CSS End */


/* Pages CSS Start */

.pages-banner {
    height: 600px;
    position: relative;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.pages-banner::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 60%);
    height: 100%;
    width: 100%;
    z-index: -1;
}

.banner-content h1 {
    color: #fff;
    text-align: center;
    font-size: 60px;
    text-transform: uppercase;
    font-style: italic;
}

.how-to-play {
    background-image: url(../images/how-to-play-banner-image.jpg);
    background-position: 0 -100px;
}

.after-banner-text-wrap p {
    font-size: 21px;
    text-align: center;
}






/* jklnklg */
.how-to-play-cards {
    margin-bottom: 35px;
    box-shadow: #fafb63 0px 3px 8px;
    padding: 30px 20px;
    border-radius: 0 20px;
}

.how-to-play-cards-content h3 {
    color: #fafb63;
    margin-bottom: 15px;
}

.how-to-play-cards-content p {
    margin-bottom: 10px;
    font-size: 18px;
}

.how-to-play-cards-content p strong {
    color: #fafb63;
}

.how-to-play-cards-content ul {
    margin: 10px 0;
}

.how-to-play-card-image {
    width: 100%;
    height: 100%;
    background-image: url(../images/choices-cards-image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.how-to-play-card1-image {
    background-image: url(../images/how-play-card1.jpg);
}

.how-to-play-card2-image {
    background-image: url(../images/how-play-card2.jpg);
}

.how-to-play-card3-image {
    background-image: url(../images/how-play-card3.jpg);
}

.how-to-play-card4-image {
    background-image: url(../images/how-play-card4.jpg);
}

.how-to-play-card5-image {
    background-image: url(../images/how-play-card5.jpg);
}

.how-to-play-card6-image {
    background-image: url(../images/how-play-card6.jpg);
}

.how-to-play-card7-image {
    background-image: url(../images/how-play-card7.jpg);
}

.how-to-play-card8-image {
    background-image: url(../images/how-play-card8.jpg);
}

.how-to-play-card9-image {
    background-image: url(../images/how-play-card9.jpg);
}

.how-to-play-card10-image {
    background-image: url(../images/how-play-card10.jpg);
}

.down-arrow-container {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/down-arrow.png");
    height: 100px;
    width: 100%;
    margin-bottom: 35px;
}

.how-to-play-cards-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* jklnklg */

/* Leagues Pages CSS Start */
.inline-list {
    display: inline-block;

}

.leagues-pages {
    height: 300px;
    background-color: gray;
}

.inline-list h3 a,
.inline-list h3 {
    color: #fff;
    font-size: 30px;
}

.home-list {
    padding-right: 25px;
}

.next-page-list {
    padding-left: 30px;
    position: relative;
}

.next-page-list::before {
    position: absolute;
    content: "";
    background-image: url(../images/leagues-banner-arrow.png);
    top: 50%;
    left: -5px;
    height: 20px;
    width: 20px;
    background-size: cover;
    color: #fff;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.ice-leagues table {
    border-radius: 14px;
    overflow: hidden;
    min-width: 1000px;
    margin: 0 auto;
    background: #fff;
    border-collapse: collapse;
    border-spacing: 0;
}

.ice-leagues img.table-img.me-2 {
    width: 24px;
    height: 24px;
}

.ice-leagues .last-5 svg {
    width: 16px;
    height: 16px;
}

.ice-leagues tbody tr td {
    padding: 20px 30px !important;
    color: #29292a;
    font-size: 15px;
    vertical-align: middle;
}
.ice-leagues tbody tr td{
    padding: 0;
}
.ice-leagues thead tr th {
    padding: 20px 30px;
    color: #29292a;
    font-size: 15px;
    vertical-align: middle;
    background: #f8f9fa;
    text-transform: uppercase;
}
.team-view-page .ice-leagues thead tr th:nth-child(2),.team-view-page .ice-leagues thead tr th:nth-child(3),.team-view-page .ice-leagues thead tr th:nth-child(4){
    text-align: center;
}

.matches-page .ice-leagues thead tr th:nth-child(2) ,.team-players-page .ice-leagues thead tr th:nth-child(3),.team-players-page .ice-leagues thead tr th:nth-child(2),.team-players-page .ice-leagues thead tr th:nth-child(4){
    text-align: center;
}
.matches-page td.player-name p{
    color: #000;
}

.matches-page .ice-leagues thead tr th:last-child {
    text-align: right;
}


.ice-leagues tr:nth-child(odd) {
    background-color: transparent;
}

.ice-leagues tr:nth-child(even) {
    background-color: #fcfcb7;
}

.ice-leagues td.toxic a {
    display: flex;
    align-items: center;
    gap: 10px;
}

.ice-leagues .text-success {
    color: #198754 !important;
}

.ice-leagues .text-danger {
    color: #dc3545 !important;
}

.ice-leagues .text-secondary {
    color: #6c757d !important;
}

.ice-leagues {
    padding-top: 50px;
    padding-bottom: 60px;
}

.ice-leagues.ownership-ops {
    padding-top: 60px;
}

.ice-leagues-inner h2 {
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
}

.back-btn a {
    display: inline-block;
    padding: 5px 26px;
    background: #fafb63;
    border-radius: 4px;
    margin: 0 0 20px;
    line-height: 1;
    transition: all 0.2s ease-in-out;
}

.back-btn a:hover {
    opacity: 0.9;
}

.palyer-header {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 14px;
    padding: 10px;
    margin: 0 0 50px;
    background: url(../images/Background.jpg);
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.palyer-header::after {
    background: #4d1876e3;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    border-radius: 14px;
}

.palyer-header .team-logo img {
    width: 80px;
    aspect-ratio: 1;
    object-fit: contain;
}

.palyer-header .team-logo:last-child {
    text-align: right;
}

.palyer-header .match-details {
    text-align: center;
}

.palyer-header .team-logo span {
    font-size: 16px;
    font-weight: 700;
}

.palyer-header .team-logo h6 {
    text-transform: capitalize;
    font-size: 16px;
}

.team_inner {
    display: flex;
    align-items: center;
}

.palyer-header .team-logo:last-child .team_inner {
    justify-content: flex-end;
}

.palyer-header .match-details h6 {
    font-size: 16px;
    margin-bottom: 10px;
}

.palyer-header .match-details p {
    font-size: 16px;
    margin-bottom: 10px;

}

.palyer-header .match-details span {
    font-size: 14px;
    margin-bottom: 10px;

}

.matches-table tr td {
    text-align: center;
}

.matches-table tr td.match-team-logo:first-child {
    text-align: left;
}

.matches-table th:first-child {
    text-align: left;
}

.matches-table th {
    background: #00c900;
    color: #fff;
}

td.match-position p {
    text-transform: capitalize;
    color: #000;
    font-size: 17px;
    font-weight: 600;
}

.team-btns {
    text-align: center;
    margin: 20px 0 0;
}

.next-btn {
    display: inline-block;
    background: #fafb63;
    color: #000;
    text-decoration: none;
    padding: 8px 20px;
    text-transform: uppercase;
    border-radius: 8px;
    font-weight: 600;
    transition: all 0.3s linear;
}

.next-btn:hover {
    opacity: 0.9;
}

.team-view-header ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 600px;
    margin: 20px auto 0;
    border: 1px solid #ffffff42;
    border-width: 1px 0;
    padding: 10px 0;
}

.team-view-header {
    color: #fff;
    border-radius: 14px;
    padding: 30px;
    margin: 0 0 40px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background: url(../images/Background.jpg);
    position: relative;
    z-index: 1;
}

.team-view-header::after {
    background: #fafb63;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    border-radius: 14px;
}


.team-view-header ul li {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.c-details h6 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 600;
}

.c-details p {
    font-size: 16px;
    color: #000;
    font-weight: 600;
}

.c-logo {
    background: #bdf07b;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    color: #000;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    box-shadow: 2px 2px 5px 0 rgba(0 0 0 / 50%);
}

.team-view-header h4 {
    font-size: 18px;
    text-align: center;
    color: #000;
    font-weight: 600;
}

td.player-dp img {
    width: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #501d88;
    object-fit: cover;
}

.team-view-table td {
    text-align: center;
}

.team-view-table td h6 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.team-view-table td span {
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 600;
}

.team-view-table td p {
    font-size: 14px;
    margin-top: 10px;
    color: #000;
    font-weight: 600;
}

.team-view-table th {
    text-transform: uppercase;
}

.team-view-table td {
    padding: 20px 30px !important;
}

.matches-table th {
    background:#fafb63 !important;
    color: #000 !important;
}

.match-team-logo span {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.match-team-logo span {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.match-team-logo img {
    width: 40px;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 50%;
}

.matches-table .table th:first-child {
    text-align: left;
}

.matches-table .table th {
    text-align: center;
    padding: 15px;
    text-transform: uppercase;
}

.matches-table table td h6 {
    font-size: 18px;
    margin-bottom: 5px;
    font-weight: 400;
    color: #000000;
}

.matches-page table td p {
    color: #000000;
    font-size: 17px;
    margin-bottom: 5px;
}

.match-team-inner {
    display: flex;
    align-items: center;
    gap: 10px;
}

.match-team-inner-image {
    height: 35px;
    width: 35px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.match-team-inner-image1 {
    background-image: url("../images/LigueMagnus.png");
}

.match-team-inner-image2 {
    background-image: url("../images/NationalHockeyLeagueLogo.jpg");
}

.match-team-inner-image3 {
    background-image: url("../images/LigueMagnus.png");
}

.match-team-inner-image4 {
    background-image: url("../images/NationalHockeyLeagueLogo.jpg");
}

.match-team-inner-image5 {
    background-image: url("../images/LigueMagnus.png");
}

.match-team-inner-image6 {
    background-image: url("../images/NationalHockeyLeagueLogo.jpg");
}

.match-team-inner-image7 {
    background-image: url("../images/LigueMagnus.png");
}

.match-team-inner-image8 {
    background-image: url("../images/NationalHockeyLeagueLogo.jpg");
}

.match-team-inner-image9 {
    background-image: url("../images/LigueMagnus.png");
}

.match-team-inner-image10 {
    background-image: url("../images/NationalHockeyLeagueLogo.jpg");
}


.matches-table td.match-team-logo:last-child .match-team-inner {
    justify-content: flex-end;
}

.matches-table td.match-team-logo:last-child h6 {
    text-align: right;
}

.matches-table td.match-team-logo h6 {
    margin: 10px 0 0 0;
    font-weight: 600;
    letter-spacing: 1px;
}


td.match-team-logo a::before {
    content: "";
    position: absolute;
    background: transparent;
    inset: 0;
}
td.match-status p {
    color: #000;
    font-size: 19px;
    font-weight: 600;
}
.my-matches-page table td:nth-child(2) p{
    color: #000;
    font-weight: 600;
    margin-bottom: 4px;
}
.my-matches-page table td:nth-child(2) h6{
font-weight: 600;
}

.league-logo {
    display: flex;
    overflow: hidden;
    align-items: center;
}

.league-logo-inner {
    width: 35px;
    height: 35px;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

.league-logo-inner1 {
    background-image: url("../images/LigueMagnus.png");
}

.league-logo-inner2 {
    background-image: url("../images/NationalHockeyLeagueLogo.jpg");
}
.leagues-table{
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; 
    max-width: 100%; 
}

.leagues-table tbody tr {
    position: relative;
}

.leagues-table tbody td.league-logo a::before {
    content: "";
    position: absolute;
    background: transparent;
    inset: 0;
}

.leagues-table th {
    text-align: left;
}

.leagues-table td h6 {
    font-weight: 400;
    color: #000000;
}

.leagues-table td {
    padding: 20px 30px !important;
}

.leagues-table td p {
    font-weight: 400;
    color: #000;
    font-family: "Jaturat";
    letter-spacing: 1px;
}

table tr:nth-child(odd):hover {
    background: #e5e6e7 !important;
}

.leagues-table,
.matches-table,
.team-view-table,
.ice-leagues-inner-content {

    width: 100%;
    overflow-x: auto;
    border-radius: 14px;
}

.ice-leagues-inner-content table th {
    background: #fafb63 !important;
    color: #000 !important;
}

section.destination.firsts {
    padding-top: 100px;
    padding-bottom: 0;
}

section.destination.seconds {
    padding-top: 0;
    padding-bottom: 60px;
}

td.toxic a {
    color: #000;
}

.community-icon a img {
    filter: brightness(0) invert(1);
    width: 38px;
    height: 38px;
}

.community-icon {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
}

.avatar-content h5 {
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    padding-bottom: 20px;
    font-weight: 600;
}

.cards-col {
    overflow: hidden;
}

.p-content-inner strong {
    color: #fff;
    font-size: 16px;
    padding-bottom: 20px;
    display: block;
}

.g-started h5 {
    font-size: 22px;
    margin-bottom: 50px;
    text-transform: uppercase;
    color: #ffcf21;
    letter-spacing: 3px;
}

.contact-page .g-started h5 {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
}

section.inner-bnr.how-play {
    background: url(../images/how-to-play.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

.inner-bnr.about {
    background: url(../images/about.jpg)no-repeat;
    background-size: cover;
    background-position: 50% 0%
}

section.inner-bnr.contact-us {
    background: url(../images/contact-us.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

.contact-page section.getting {
    padding-top: 60px;
}

section.inner-bnr.premier-league {
    background: url(../images/leagues.jpg)no-repeat;
    background-size: cover;
    background-position: center;
}

.sportzway {
    padding-bottom: 20px;
}

table tr td a::before {
    content: "";
    position: absolute;
    background: transparent;
    inset: 0;
}

table tr {
    position: relative;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.toggle-target {
    background: #fafb63;
    width: 100%;
    padding: 10px 30px;
    max-width: 1000px;
    margin: 0 auto;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    display: flex;
    justify-content: space-around;
}

.matche-det table {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.ice-leagues-inner-content .matche-det table th {
    color: #000 !important;
    background-color: #e9ecef !important;
    border-color: #dee2e6;
}

.matches-details .credits_points span {
    color: #000;
    font-weight: 600;
}

.matches-details .player-name p ,.team-players-page .player-name p {
    color: #000;
    text-align: left;
    font-weight: 600;
}

.matches-details .matche-det table th:nth-child(2),
.matches-details .matche-det table th:nth-child(3),
.matches-details .matche-det table th:nth-child(4) {
    text-align: center;
}



.toggle-target a {
    color: #000;
    font-size: 18px;
    padding: 10px 30px;
    font-weight: 600;
}

.credits_points button {
    border-radius: 50%;
    background: transparent;
    border: 2px solid;
    position: absolute;
    width: 25px;
    height: 25px;
    line-height: 1;
    right: 20px;
}

.credits_points button.minus {
    border-color: #e71e3c;
    display: none;
}

.credits_points button.plus {
    border-color: #00c900;
}

.credits_points button.plus i {
    color: #00c900;
    font-size: 20px;
    font-weight: bold;
}

td.match-team-logo h6 {
    font-size: 16px !important;
}

td.match-team-logo a {
    color: #000;
}
.match-team-logo-inner,.team-players-logo-inner,.player-dp-inner ,.my-match-team-logo-inner{
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image:url("../images/LigueMagnus.png") ;
}
.my-match-team-logo-inner{
    margin: 0 auto;
}
.my-matches-page .ice-leagues thead tr th:nth-child(3),.my-matches-page .ice-leagues thead tr th:nth-child(4),.my-matches-page .ice-leagues thead tr th:nth-child(5){
    text-align:center ;
}


#dropdown {
    display: none;
}
.avatar-content img {
    width: 45px;
    aspect-ratio: 1;
    border-radius: 50%;
}

.avatar .dropdown {
    position: absolute;
    background: #fff;
    padding: 10px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    right: 0;
    top: 110%;
    display: none;
    max-width: 200px;
}
.profile-image{
    width: 40px;
    height: 40px;
    background-image: url(../images/my-profile-dummy-img.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}
.profile {
    margin-left: 30px;
}

.avatar-content span {
    color: #000;
    font-size: 14px;
    margin-left: 10px;
}

.dropdown li a {
    text-decoration: none;
    color: #000;
    font-size: 14px;
    padding: 5px 0;
    display: inline-block;
    text-transform: capitalize;
}

.dropdown li a img {
    margin-right: 10px;
    max-width: 20px;
}

div#mySidenavs {
    display: flex;
    gap: 20px;
}

div#mySidenavs {
    display: flex;
    gap: 20px;
}

.avatar-content a span {
    color: #fff;
    font-size: 17px;
}
.avatar-content svg {
    height: 20px;
    width: 20px;
    background: #fafb63;
}
.profile-dropdown-options{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
}
.profile-image-dropdown{
    background-image: url("../images/profile-option-image.png");
}
.profile-image-stadium{
    background-image: url("../images/profile-stadium.png");
}
.profile-image-logout{
    background-image: url("../images/profile-logout.png");
}

.avatar-content i {
    color: #ffff;
    cursor: pointer;
}

.avatar-content {
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatar-content a {
    display: flex;
    align-items: center;
}

.dropdown ul {
    display: block !important;
}

.dropdown ul li a {
    color: #000 !important;
}

.dropdown ul li::after {
    display: none !important;
}

.dropdown ul li {
    margin-left: 0 !important;
}

.profile ul li a {
    padding: 5px 0 !important;
    text-transform: capitalize !important;
    display: flex;
    align-items: center;
}

.mmy-profile-inner {
    display: flex;
    width: 100%;
    margin-bottom: 80px;
}

section.my-profile {
    padding-top: 120px;
}

.profile-side {
    width: 33%;
    border: 5px solid #fafb63;
    height: 450px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 0%), 0 3px 6px rgb(0 0 0 / 16%);
    padding: 20px 10px;
    border-radius: 20px 0 0 20px;
}

.col-sec {
    width: 66%;
}

.user-content-update {
    padding: 30px;
    margin-top: 50px;
    box-shadow: #f8f9fa 0px 3px 10px;
    border-radius: 0 20px 20px 0;
}

.user-img {
    text-align: center;
    position: relative;
}

.update_img_user {
    position: relative;
    width: 80px;
    margin: 0 auto;
    height: 80px;
    border-radius: 50%;
    border:3px solid #fafb63;
    background-image: url("../images/my-profile-dummy-img.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.edit_pan svg {
    height: 12px;
}

.edit_pan {
    position: absolute;
    top: 70%;
    background: #ffcf21;
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    transform: translate(0%, 0%);
    border-radius: 50%;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
}

.user_name h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 10px 0 0;
    color: #fff;
}

.content-bar {
    margin-bottom: 10px;
}

.content-bar span {
    background: #6bfff7;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 30px;
    color: #000;
    cursor: pointer;
    font-weight: 600;
    display: inline-block;
    transition: 0.4s all ease-in-out;
}
.content-bar span:hover{
    background: #fff;
    box-shadow:#6bfff7 0px 3px 8px;
}

.edit_option_bar {
    text-align: center;
    margin-top: 12px;
}

.user-img {
    text-align: center;
    position: relative;
}

span.edit_pan i {
    color: #ffff;
}

.ice-leagues .row {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
}

.ice-leagues .row .mb-3.col-sm-6 {
    width: 48%;
}

.ice-leagues .row .mb-3.col-sm-6 input {
    width: 100%;
}

.user-content-box input {
    color: #000;
    outline: none;
    padding: 6px 12px;
}

.para {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.556;
    color: #fafaff;
}

.user-content-box button {
    width: auto;
    padding: 11px 44px;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 20px;
    background-color: #6bfff7;
    border: none;
    outline: none;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #000;
    cursor: pointer;
    transition: 0.4s all ease-in-out;
}
.user-content-box button:hover{
    background-color: #fff;
    color: #000;
    box-shadow:#6bfff7 0px 3px 8px;
}

.reset-password {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 12px;
}

.reset-password a {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
    text-underline-offset: 5px;
}

a.tab.active {
    background: #fff;
}

.plyr-headr {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 14px;
    padding: 20px;
    margin: 0 0 50px;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
}

.plyr-headr::after {
    background: #fafb63;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: -1;
    border-radius: 14px;
}

td.match-score h4 {
    color: #29292a;
    font-size: 18px;
    font-weight: 600;
}

.plyr-headr .team-logo img {
    width: 80px;
    aspect-ratio: 1;
    object-fit: contain;
    padding: 12px;
}

.plyr-headr .team-logo:last-child {
    text-align: right;
}

.plyr-headr .match-details {
    text-align: center;
}

.plyr-headr .team-logo span {
    font-size: 22px;
    font-weight: 700;
    color: #000;
    padding: 0 5px;
}


.match-details-header-logo,.team-players-header-logo {
    height: 35px;
    width: 35px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.match-details-header-logo1 {
    background-image: url("../images/LigueMagnus.png");
}

.match-details-header-logo2 {
    background-image: url("../images/NationalHockeyLeagueLogo.jpg");
}
.team-players-header-logo1{
    background-image: url("../images/LigueMagnus.png");
} 
.team-players-header-logo2 {
    background-image: url("../images/NationalHockeyLeagueLogo.jpg");
}
.leagues .small-logo tbody tr td:first-child {
    width: 120px;
}


.plyr-headr .team-logo h6 {
    text-transform: capitalize;
    font-size: 17px;
    color: #000;
    font-weight: 600;
}

.team_inner {
    display: flex;
    align-items: center;
}

.plyr-headr .team-logo:last-child .team_inner {
    justify-content: flex-end;
}

.plyr-headr .match-details h6 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #000;
    font-weight: 600;
}

.plyr-headr .match-details p {
    font-size: 17px;
    margin-bottom: 10px;
    color: #000;
}

.plyr-headr .match-details span {
    font-size: 14px;
    margin-bottom: 10px;
    color: #000;
}


/* Leagues Pages CSS End */

/* Header Pages CSS Start */
.pages-banner {
    height: 550px;
    background-color: rgba(0 0 0/20%);
    background-blend-mode: multiply;
}
.leagues-pages {
    height: 300px;;
    background-image: url("../images/leagues-banner-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0 0 0/20%);
}
.about-banner{
    background-image: url("../images/about-banner-image.jpg");
    background-color: rgba(0 0 0/20%);
}
.contact-banner{
    background-image: url("../images/contact-banner-image.jpg");
    background-color: rgba(0 0 0/20%);
}


.banner-text h1 {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.4;
    color: #fff;
}
.header-pages-cards-content h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #fafb63;
}

.header-pages-cards {
    margin-bottom: 35px;
    padding:0 20px;
}
.header-pages-cards:last-child{
    margin-bottom: 0;
}

.header-pages-cards-content p {
    font-size: 17px;
    margin-bottom: 10px;
}

.header-pages-cards-content p strong {
    color: #fafb63;
}
.about-card1-image {
    background-image: url("../images/about-card1-image.jpg");
    height: 400px;
    border-radius: 20px;
}

.about-card2-image {
    background-image: url("../images/about-card2-image.jpg");
    height: 400px;
    border-radius: 20px;
}

.about-card3-image {
    background-image: url("../images/about-card3-image.jpg");
    height: 400px;
    border-radius: 20px;
}
.about-card4-image {
    background-image: url("../images/about-card4-image.jpg");
    height: 400px;
    border-radius: 20px;
}
.about-card5-image {
    background-image: url("../images/about-card5-image.jpg");
    height: 400px;
    border-radius: 20px;
}
.about-card6-image {
    background-image: url("../images/about-card6-image.jpg");
    height: 400px;
    border-radius: 20px;
}.about-card7-image {
    background-image: url("../images/about-card7-image.jpg");
    height: 400px;
    border-radius: 20px;
}
.header-pages-cards-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.form-wrapper {
    height: auto;
    width: 100%;
}

#contact {
    background-image: url("../images/how-we-compare-bg.png");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 25px 0;
    height: 100%;
    max-width: 500px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact select {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    border-radius: 8px;
    font-size: 16px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover,
#contact select:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
}


#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

#contact select {
    max-width: 100%;
    color: #444546;
    outline: none;
}

#contact button[type="submit"] {
    cursor: pointer;
    border: none;
    color: #000;
    margin: 0 0 5px;
    width: auto;
    padding: 15px 30px;
    font-size: 17px;
    transition: 0.4s all ease-in-out;
    background-color: #fafb63;
    border-radius: 25px;
}

#contact button[type="submit"]:hover {
    box-shadow: #fff 0px 5px 10px;
}

#contact button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
    text-align: center;
}

#contact input:focus,
#contact textarea:focus {
    outline: 0;
    border: 1px solid #444546;
}

::-webkit-input-placeholder,
::-webkit-select-placeholder {
    color: #444546;
}

:-moz-placeholder {
    color: #444546;
}

:-ms-input-placeholder {
    color: #444546;
}

.contact-card1-image {
    background-image: url("../images/contact-group1-image.jpg");
    height: 500px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#contact select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('../images/dropdown-arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px;
}
.header-pages-cards h3 {
    margin-bottom: 15px;
    color: #fafb63;
}



/* Footer Pages CSS Start*/
.footer-pages-wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 30px;
    border-radius: 20px;
    box-shadow: #fafb63 0px 7px 11px 0px;
}

.footer-pages-content-grp {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
}

.footer-pages-content-grp:last-child {
    margin-bottom: 0px;
}

.footer-pages-content-grp h3 {
    font-size: 25px;
    margin-bottom: 15px;
    color: #fafb63;
    line-height: 1.4;
}

.footer-pages-content-grp strong {
    color: #fafb63;
}

.footer-pages-content-grp p {
    font-size: 17px;
    margin-bottom: 8px;
}

.footer-pages-content-grp ul {
    list-style: none;
    padding-left: 20px;
}

.footer-pages-content-grp ul li {
    position: relative;
}
.after-banner-text p {
    font-size: 17px;
    max-width: 1300px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}

.footer-pages-content-grp ul li:before {
    content: "•";
    color: #fafb63;
    position: absolute;
    left: -20px;
    top: 0;
    font-size: 20px;
}

.personal-banner {
    background-image: url(../images/personal-banner-image.jpg);
    background-color: rgba(0 0 0/20%);
}

.privacy-banner{
    background-image: url(../images/privacy-banner-image.jpg);
    background-color: rgba(0 0 0/20%);
}

.terms-banner {
    background-image: url(../images/terms-banner-image.jpg);
    background-color: rgba(0 0 0/20%);
}

/* Footer Pages CSS End*/





























/* Modal  CSS Start */
.card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: auto;
    background-color: #ffffff;
    padding: 10px 30px;
}

.card_title {
    text-align: center;
    padding: 10px;
}

.card_title h1 {
    font-size: 26px;
    font-weight: bold;
}

.form input {
    margin: 10px 0;
    width: 100%;
    background-color: #e2e2e2;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
}

.form button {
    background-color: #fafb63;
    color: #000;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: 8px 15px;
    width: 100%;
}

.card_terms {
    display: flex;
    align-items: flex-start;
    padding: 10px;
}

.card_terms input[type="checkbox"] {
    background-color: #e2e2e2;
    margin-right: 10px;
}

.card_terms span {
    font-size: 13px;
}

.card a {
    color: #4796ff;
    text-decoration: none;
}

.modal-body {
    margin: 0 auto;
}

/* Modal  CSS End */

div#myTable_length {
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 135px;
}
div#myTable_filter {
    display: inline-block;
    float: right;
    margin-right: 135px;
}
div#myTable_length label ,div#myTable_filter label{
    color:#fff
}
.league-page .sorting.sorting_asc {
    width: 50px !important;
}
div#myTable_info {
    display: inline-block;
    margin-top: 30px;
    color:#fff;
    margin-left:135px;
}
div#myTable_paginate {
    display: inline-block;
    float: right;
    margin-top: 30px;
    margin-right:135px;
}
#myTable_previous {
    color: #fff;
    margin-right: 10px;
    cursor: pointer;
}
#myTable_next {
    color: #fff;
    margin-left: 10px;
    cursor: pointer;
}
.paginate_button.current {
    display: inline-block;
    padding: 5px 15px;
    background: #fff;
    color: #000;
    border-radius: 5px;
}
.matches-page .ice-leagues thead tr th:nth-child(2) {
    text-align: center;
}
.matches-page.ice-leagues thead tr th:nth-child(2) {
    text-align: center !important;
}
.matches-page.ice-leagues thead tr th:nth-child(3) {
    text-align: right !important;
}
.match-details .team-logo img {
    height: 35px;
    width: 35px;
}
.match-details .matches-table tr td:first-child {
    text-align: left !important;
}
.match-details .ice-leagues tbody tr td:nth-child(2) {
    text-align: left !important;
}
.ice-leagues-inner-content .matche-det table th:nth-child(2),.ice-leagues-inner-content .matche-det table th:nth-child(3),.ice-leagues-inner-content .matche-det table th:nth-child(4) {
    text-align: center !important;
}
tr.matche-main td p {
    color: #000;
    font-size: 17px;
}
